:root {
  /* Theme Colors */
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  
  --color-gradient-start: #4F46E5;
  --color-gradient-end: #6366F1;
  
  --color-background: #F8FAFC;
  --color-card-background: #FFFFFF;
  --color-text: #0F172A;

  /* Status Colors */
  --color-success: #10B981;
  --color-alert: #EF4444;
  --color-light-grey: #F1F5F9;
}
